<% unless @product_properties.empty? %>  
  <!--<h6 class="product-section-title"><%= Spree.t('properties')%></h6>-->
  <ul id="product-properties" class="table-display cbp-l-project-details-list" data-hook>
      <% @product_properties.each do |product_property| %>
        <% css_class = cycle('even', 'odd', :name => "properties") %>
          <li><strong><%= product_property.property.presentation %></strong><%= product_property.value %></li>
      <% end %>
      <% reset_cycle('properties') %>
  </ul>
<% end %>
