<script src="https://use.fontawesome.com/6398a4d6db.js"></script>

<h1 class="title text-center" style="margin-top:150px;margin-bottom:50px;">Present you latest</h1>

<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <h2 class="title text-center" style="margin-bottom:50px;">As a LABEL you can</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">

                        <i class="fa fa-cloud-upload" style="font-size: 55px;"></i>                

                    <div class="content">
                        <h3 class="title">App Feature One</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-rocket" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Two</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-users" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-map-marker" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Four</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-calendar" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature One</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-comments" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Two</h3>
                        <p>Outline an app feature/benefit. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-globe" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>






<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <h2 class="title text-center" style="margin-bottom:50px;">As a STORE you can</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">

                        <i class="fa fa-cloud-upload" style="font-size: 55px;"></i>                

                    <div class="content">
                        <h3 class="title">App Feature One</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-rocket" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Two</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-users" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-map-marker" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Four</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-calendar" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature One</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-comments" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Two</h3>
                        <p>Outline an app feature/benefit. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-globe" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>




<h1 class="title text-center" style="margin-top:150px;margin-bottom:50px;">Contact us at WYLD gmail.com</h1>




<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <h2 class="title text-center" style="margin-bottom:50px;">WYLD Events</h2>
                <div class="item col-md-12 col-sm-12 col-xs-12 text-center">
                        <i class="fa fa-globe" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature/benefit here. You can change the icon above to any of the 500+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwesome icons</a> available. </p>
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>