<script src="https://use.fontawesome.com/6398a4d6db.js"></script>

  <a href="/" class="sales-page-logo">
    <img src="/assets/WYLD_LOGO.png" alt="WYLD logo" style="width:9%; margin-left:43px; margin-top:20px;">
  </a>

<h1 class="title text-center" style="margin-top:150px;margin-bottom:50px;">Present your latest party and special occasion wear to <br>our international network of quality-conscious shoppers.</h1>

<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <h2 class="title text-center" style="margin-bottom:50px;">As a Label you can:</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">

                        <i class="fa fa-video-camera" style="font-size: 55px;"></i>                

                    <div class="content">
                        <h3 class="title">Videographers</h3>
                        <p>Access pool of 100+ Videographers</p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-mobile" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Vertical video</h3>
                        <p>Showcase your creativity as mobile friendly vertical video (with clustering options for eco-brands coming soon)</p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-users" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Present</h3>
                        <p>Present items to our growing user base of ethically aware fashionistas and influencers
                        </p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-link" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Stockists</h3>
                        <p>Link to all the online and offline stores stocking your item/s
                        </p>
                        
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-3 col-sm-0 col-xs-0 text-center">            
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-ticket" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Vouchers</h3>
                        <p>Offer discount vouchers to attract first time buyers to both online and offfline stores and reward loyal fans
                        </p>
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-shopping-bag" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Events</h3>
                        <p>Connect with new shoppers, stores and fans at Wyld City Events
                        </p>
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-0 col-xs-0 text-center">            
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>




<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <h2 class="title text-center" style="margin-bottom:50px;">As a Store you can:</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">

                        <i class="fa fa-users" style="font-size: 55px;"></i>                

                    <div class="content">
                        <h3 class="title">Video</h3>
                        <p>Attract label fans with higher converting video and click and collect options (coming soon)
                        </p>  
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-ticket" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Vouchers</h3>
                        <p>Offer discount vouchers to attract first time buyers and reward loyal shoppers</p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-thumbs-up" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">SEO marketing</h3>
                        <p>Take advantage of our SEO marketing to boost online exposure and findability for party wear / special occasion searches</p> 
                          
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-video-camera" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Early access</h3>
                        <p>Have exclusive early video access to the latest collections of Labels in our network</p>   
                        
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row feature-row-last">
                <div class="item col-md-3 col-sm-0 col-xs-0 text-center">            
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-hashtag" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Quality leads, increased CTR</h3>
                        <p>Boost your site’s traffic with quality leads (increased click-through rate & lower bounce)
                        </p>
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                        <i class="fa fa-heart" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Events</h3>
                        <p>Connect with new potential customers and fans at our Wyld City Events
                        </p>
                        
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-0 col-xs-0 text-center">            
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section>




<h1 class="title text-center" style="margin-top:150px;margin-bottom:50px;">Contact us at team@wyld.events for early bird prices and how to<br>secure your first THREE MONTHS FREE as a sign up bonus</h1>




<section id="features" class="features section">
        <div class="container" style="margin-top:150px;margin-bottom:50px;width:80%;">
            <div class="row">
                <div class="item col-md-6 col-sm-6 col-xs-6 text-center">
                        <i class="fa fa-shopping-bag" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Wyld Events</h3>
                        <p>Starting in 2017, we’ll be organising Wyld City Events for up to 12 fashion labels at a time. We’ll be inviting register users to personally meet and buy from their favourite designers at clubs and venues normally only open at night. It is going to be a lot a fun. Our first event will be held in Berlin during the summer Fashion Week in July. Register as a user if you want receive an invitation closer to the event, or would like to present your clothes as part of our 12 Wyld exhibitors, contact us at team@wyld.events for early bird prices and more details
                        </p>
                    </div><!--//content-->               
                </div><!--//item-->

                <div class="item col-md-6 col-sm-6 col-xs-6 text-center">
                        <i class="fa fa-video-camera" style="font-size: 55px;"></i> 
                    <div class="content">
                        <h3 class="title">Book a Videographer</h3>
                        <p>We have a network of 100+ professional videographers located around the world awaiting the chance to film your next fashion shoot. Wyld videographers work alongside your normal photographer to take 8 second vertical clips of up to 30 pieces. We edit the videos and upload inot the cloud, ready for your all clear to publish as soon the pieces are ready for purchase. Prices start at €250 plus MwSt to book a videographer for the day in Germany, with prices in other countries being location dependent. Contact us at team@wyld.events to for more details and to arrange a shoot today.
                        </p>
                    </div><!--//content-->               
                </div><!--//item-->

            </div><!--//row-->
        </div><!--//container-->
</section>
