<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six" data-hook style="width:30%; margin-left:43px; margin-top:20px;">
	<a href="/"><img src="/assets/WYLD_LOGO.png" alt="WYLD logo" style="width:30%;"></a>
  </figure>
  <%= render :partial => 'spree/shared/nav_bar' %>
  <%= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header>