<!--<nav id="top-nav-bar" class="">-->
<nav id="top-nav-bar-mobile" class="">
  <ul id="nav-bar-mobile" class="inline" data-hook>
    <li id="search-bar-mobile" data-hook>
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>