<!--<nav id="top-nav-bar" class="">-->
<nav id="top-nav-bar" class="hide-top-nav-bar-desktop">
  <ul id="nav-bar" class="inline" data-hook style="">
    <li id="search-bar" data-hook style="display:inline-block;">
      <%= render :partial => 'spree/shared/search' %>
    </li>
  </ul>
</nav>