<%= form_for(fileimport) do |f| %>
  <% if fileimport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fileimport.errors.count, "error") %> prohibited this fileimport from being saved:</h2>

      <ul>
      <% fileimport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
